*{
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

html{
	font-family: sans-serif, Arial, Helvetica;
	font-size: 12px;
	color: #333;
}

body{
	padding: 0;
	margin: 0;
	position: relative;
	height: 100vh;
	overflow: hidden;
	/*background: #131313;*/
}

a, a:link{
	color: inherit;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

ul,
ol{
	list-style-type: none;
	padding-left: 1em;
}

button,
.button{
	display: inline-block;
	border: none;
	margin: 10px 2px;
	line-height: 14px;
	cursor: pointer;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.clear-fix:before,
.clear-fix:after{
	display: table;
	content: ' ';
}

.clear-fix:after{
	clear: both;
}

.header-one{
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
	color: #fff;
}

.container-flex{
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
}

.navbar, .main{
	float: left;
	overflow-y: auto;
}

.navbar{
	width: 10%;
	background: #ddd;
}

.navbar ul li > a{
	padding: 6px 12px;
	background-color: #eee;
	display: inline-block;
	border: rgba(0, 0, 0, 0.1) 1px solid;
	margin: 2.5px;
	border-radius: 3px;
}

.navbar ul li > a:hover{
	text-decoration: none;
	color: #555;
	background-color: #dfdfdf;
}

.main{
	width: 90%;
	background: #eee;
	padding: 10px;
}

.main .main-body{
	background-color: #fefefe;
	width: 100%;
	display: block;
	box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 5px;
	border-radius: 2px;
}

.container{
	padding-left: 10px;
	padding-right: 10px;
}

.bg-dark{
	background: #131313;
}

.container-img{
 width: calc(100%/3);
 float: left;
 padding: 2.5px;
 position: relative;
 overflow: hidden;
}

.container-img .panel-shadow{
	position: absolute;
	top: 110%; left: 0; right: 0; bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all ease-in-out 0.5s;

 display: flex;
 flex-flow: row nowrap;
 justify-content: center;
 align-items: center;
}

.container-img .panel-shadow .button-show,
.container-img .panel-shadow .button-save{
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.container-img .panel-shadow .button-show{
 color: #fff;
 background-color: #555;
}

.container-img .panel-shadow .button-save{
 color: #fff;
 background-color: #fbc106;
}

.container-img:hover .panel-shadow{
	top: 0;
}

.container-img .pointer{
	margin: 2px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	right: 0;
}

.img-unsplash{
	width: 100%;
	/*Esto no funciona en todo los navegadores*/
	vertical-align: text-top;
	display: block;
}

.bg-unsplash{
	position: relative;
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.default-button,
button,
.button{
	text-decoration: none;
	background-color: #ddd;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) -1px 1px 1px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 7.5px 12px;
}

.default-button:disabled,
button:disabled,
.button:disabled{
	opacity: 0.5;
}

.table{
	display: table;
	width: 100%;
	display: block;
	background-color: #eee;
 padding: 1px;
}

.table th,
.table td{
	display: table-cell;
}

.table tr{
	display: table-row;
}

#canvas{
	display: block;
	width: 100%;
	height: 100vh;
}